@charset "UTF-8";
.navigation {
  height: 75px;
  background: #4993c6;
  border-bottom-style: solid;
  border-bottom-color: #3a78a3;
  border-width: 5px;
}

.brand {
  position: absolute;
  padding-left: 0px;
  float: left;
  line-height: 70px;
  font-size: 1.4em;
  margin-left: -50px;
  margin-bottom: 0;
}
.brand a,
.brand a:visited {
  color: #ffffff;
  text-decoration: none;
  float: left;
}

.brand a:hover {
   color: blue;
}

.brand h1 {
   float: right;
   padding: 0;
   margin-top: 0px;
   font-size: 25px;
}

.nav-container {
  max-width: 1000px;
  margin: 0 auto;
}

.test-nav {
  float: right;
  margin: 0;
  padding: 0;
}
.test-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.test-nav ul li {
  float: left;
  position: relative;
  margin: 0;
  padding: 0;
  font-size: 13px;
}
.test-nav ul li a,
.test-nav ul li a:visited {
  font-weight: bold;
  display: block;
  padding: 0 20px;
  line-height: 70px;
  background: #4993c6;
  color: #ffffff;
  text-decoration: none;
}
.test-nav ul li a:hover,
.test-nav ul li a:visited:hover {
  background: #2581DC;
  color: #ffffff;
}
.test-nav ul li a:not(:only-child):after,
.test-nav ul li a:visited:not(:only-child):after {
  padding-left: 4px;
  content: ' ▾';
}
.test-nav ul li ul li {
  min-width: 190px;
}
.test-nav ul li ul li a {
  padding: 15px;
  line-height: 20px;
}

.nav-dropdown {
  position: absolute;
  display: none;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

/* Mobile navigation */
.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: #4993c6;
  height: 70px;
  width: 70px;
}


@media only screen and (max-width: 1110px) {
   .test-nav ul li a {
      font-size: 11px;
   }

   .brand {
      margin-left: 20px;
   }
}
@media only screen and (max-width: 985px) {
  .nav-mobile {
    display: block;
  }

  .test-nav {
    width: 100%;
    padding: 70px 0 15px;
  }
  .test-nav ul {
    display: none;
  }
  .test-nav ul li {
    float: none;
  }
  .test-nav ul li a {
    padding: 15px;
    line-height: 20px;
  }
  .test-nav ul li ul li a {
    padding-left: 30px;
  }

  .nav-dropdown {
    position: static;
  }

  .brand {
     margin-left: 10px;
 }
}
@media screen and (min-width: 985px) {
  .nav-list {
    display: block !important;
  }
}
#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
}
#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: #ffffff;
  position: absolute;
  display: block;
  content: '';
  transition: all 300ms ease-in-out;
}
#nav-toggle span:before {
  top: -10px;
}
#nav-toggle span:after {
  bottom: -10px;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
}

.test-article {
  max-width: 2000px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.test-article h2 {
   font-size: 40px;
   background-color: #A9A9A9;
   padding-top: 40px;
   padding-left: 130px;
   padding-right: 130px;
   padding-bottom: 40px;
   color: white;
}

.test-article h3 {
   font-size: 30px;
}

.test-article h5 {
   font-size: 40px;
   margin: 10px;
   display: block;
   text-align: center;
   text-decoration: none;
   list-style-type: none;
   background-color: ;
}

.test-article h5 {
   padding: 50px;
}

.test-article h6 {
   font-size: 20px;
}

#my-div {
    background-color: white;
    margin-left: 13%;
    margin-right: 13%;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
}
a.fill-div {
    display: block;
    padding-top: 40px;
    padding-bottom: 40px;
    text-decoration: none;
}

a.fill-div h1:hover {
   color: blue;
}

.test-test {
   margin: 30px;
}

.test-article p,
.test-article ul li {
   letter-spacing: 0px;
   line-height: 200%;
   font-size: 20px;
   margin: 10px;
   padding-top: 10px;
   padding-left: 130px;
   padding-right: 130px;
   list-style-type: none;
}
/* fonts */

.work-sans {
   font-family: Work Sans;
}

.abril-fatface {
   font-family: Abril Fatface;
}

.archivo-black {
   font-family: Archivo Black;
}

.source-code-pro {
   font-family: Source Code Pro;
}


@media only screen and (max-width: 985px) {
   .test-article h2 {
      font-size: 40px;
      padding-top: 20px;
      padding-left: 30px;
      padding-bottom: 20px;
   }

   .test-article p {
      padding-top: 5px;
      padding-left: 20px;
   }

}

@media only screen and  (max-width: 700px) {
   .test-article h2 {
      font-size: 25px;
      padding: 10px;
   }

   .test-article p {
      font-size: 15px;
      padding: 0;
      margin: 5px;
      text-align: none;
   }
}
